
<footer>
    <section>
        <ul>
            <li>Klas: Tech 5</li>
            <li>Students: Rubben, Roshnie, Vannesa, Dave</li>
            <li>Block-tech</li>
        </ul>
    </section>

    <section>
        <p>&copy; Team Dishes</p>
    </section>
</footer>

<script src="/js/register-valid.js" type="module"></script>

</body>

</html>