
<%-include('../partials/header');%>
    <body>
        <main>
            <h1>Your Favorite Dishes</h1>

            <%- include('../partials/dish', {allDishes: myFavoriteDishes}); %>

        </main>
    </body>

</html>