<%-include('../partials/header');%>
<main>
  <h1><%-include('../partials/back') %> Your Favorite Dishes</h1>
  <div class="dish-frame"><%- include('../partials/dish'); %></div>
</main>
<%-include('../partials/footer');%>