
<%-include('../partials/header');%>
        <main>
            <h1> <%-include('../partials/back') %> Your Favorite Dishes</h1>

            <%- include('../partials/dish'); %>

        </main>
<%-include('../partials/footer');%>