<%-include('../partials/header');%>

<section class="home">
    <h1>Dish exchange</h1>
    <p>Trade your home-made dishes</p>

    <div class="start-options">
        <a href="/user/login" class="btn">Login</a>
        <a href="/user/register" class="btn">Sign up</a>
    </div>
    
</section>

<%-include('../partials/footer');%>