h1 {
  font-weight: 400;
  padding-bottom: 20px;
}

h2,
h3 {
  font-weight: 700;
  padding: 0 0 10px;

  &.dishDetails {
    padding-top: 20px;
  }
}

p,
li {
  font-weight: 400;
  padding-bottom: 5px;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.5;
  }
}
