$colors: (
  primary: #41c1a5,
  secondary: #fcab61,
  tertiary: #f3f3f3,//bg color
  quaternary: #ffffff,//bg color light
  empty-image: #dcdcdc,
  errormessages: red,
  delete-color: #ed6f6f,

  text-color: #4f4f4f,
  light-text-color: #a5a5a5,
  box-shadow-blur: #00000071,
);
